---
// src/pages/404.astro
// 本来望んでいたリンク先でないものとしてGA4でちゃんと認識されている
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_FAVICON } from "../consts";
---

<BaseLayout title="404 - not found">
    <main
        style="min-height:60vh;display:grid;place-items:center;text-align:center;"
    >
        <div>
            <img src={SITE_FAVICON} alt="site icon" width="96" height="96" />
            <h2>404</h2>
            <h2>Arca: “Oops… looks like we wandered off the query!”</h2>
            <p><code>{Astro.url.pathname}</code> is nowhere to be found.</p>
            <a href="/">Go back home</a>
        </div>
    </main>
</BaseLayout>
